.verde {
  color: #888c64;
}

.bg-verde {
  background-color: #888c64;
}

.verdao {
  color: #3f4607;
}

.bg-verdao {
  background-color: #3f4607;
}

.rosa {
  color: #ceaa94;
}

.bg-rosa {
  background-color: #ceaa94;
}

.marrom {
  color: #a27760;
}

.bg-marrom {
  background-color: #a27760;
}

.azul {
  color: #c7d1c8;
}

.bg-azul {
  background-color: #c7d1c8;
}

.creme {
  color: #deded2;
}

.bg-creme {
  background-color: #deded2;
}

.text-xs {
  font-size: 0.7rem;
  line-height: 1rem;
}

.section {
  min-height: 100vh;
  scroll-margin-top: 50px;
}

.quicksand-title {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.quicksand-body {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.quicksand-light {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.fira-sans {
  font-family: "Fira Sans Extra Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.dancing-script {
  font-family: "Dancing Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
